
/* Responsive for 992px  */

@media screen and (min-width:601px) and (max-width:992px) {
    /* Navbar starting responsive section */
        .item-container a{
            width: 30%;
            margin-right: 5px;
            font-size: 16px;
        }
        .nav-container{
                width: 75%;
        }
        .Advantage {
            font-size: 70px;
            font-weight: 400;
        }
/* Navbar ending responsive section */



    }



/* Responsive for 992px  */

@media screen and (max-width:600px) {
    /* Navbar starting responsive section */
    #cheak-button{
        display: block;
        }
        .item-container{
            display: none;
        }
        
/* Navbar ending responsive section */

.form{
    /* Explore your travel section starting hear */
    flex-direction: column;
    text-align: center;
    
}
.explore-title{
    margin: 30px 0 0 0;
}
.explore-discription{
    width: 440px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
/* Explore your travel section ending hear */



}