
/* Responsive for 992px  */

@media screen and (min-width:601px) and (max-width:992px) {
    /* Navbar starting responsive section */
        .item-container a{
            width: 30%;
            margin-right: 5px;
            font-size: 16px;
        }
        .nav-container{
                width: 75%;
        }
        .Advantage {
            font-size: 70px;
            font-weight: 400;
        }
/* Navbar ending responsive section */

.Destination-raw{
    /* Choose Your Destination strating section */
    flex-direction: column;
    position: relative;
    }
.img-div {
    position: absolute;
    top: 20%;
    left: 37%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    }
    .img-div1 {
        position: absolute;
        top: 60%;
        left: 35%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
        }
        .img-div2 {
            position: absolute;
            top: 45%;
            left: 35%;
            color: #FFF;
            font-size: 28px;
            font-weight: 800;
            }
            .img-div3 {
                position: absolute;
                top: 15%;
                left: 32%;
                color: #FFF;
                font-size: 28px;
                font-weight: 800;
                }
                .img-div4 {
                    position: absolute;
                    top: 75%;
                    left: 42%;
                    color: #FFF;
                    font-size: 28px;
                    font-weight: 800;
                    }
                    .img-div5 {
                        position: absolute;
                        top: 30%;
                        left: 32%;
                        color: #FFF;
                        font-size: 28px;
                        font-weight: 800;
                        }
                        .img-div6 {
                            position: absolute;
                            top: 75%;
                            left: 35%;
                            color: #FFF;
                            font-size: 28px;
                            font-weight: 800;
                            }
/* Choose Your Destination ending section */

.article2{
    /* Why Choose Us starting section */
    margin: 0 20px;
}
 /* Why Choose Us ending section */
 
    /* Deals & Discounts  section starting here  */

    .Discounts-btn, .discount-prise, .discount-discript, .discount-tit, .discount-btn{
        margin: 2px;
    }
    .discount-btn{
        width: 50%;
    }
    /* Deals & Discounts  section ending here  */
 
    }



/* Responsive for 992px  */

@media screen and (max-width:600px) {
    /* Navbar starting responsive section */
    #cheak-button{
        display: block;
        }
        .item-container{
            display: none;
        }
        
/* Navbar ending responsive section */

.form{
    /* Explore your travel section starting hear */
    flex-direction: column;
    text-align: center;
    
}
.explore-title{
    margin: 30px 0 0 0;
}
.explore-discription{
    width: 440px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.popular{
    
}
.Service-container{
    width: auto;
}
/* Explore your travel section ending hear */

.popular {
    /* Our Popular Tours responsiv section starting hear  */
    flex-direction: column;
    text-align: center;
}
.Service-container{
    width: 440px;
    
}
.left h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    width: 440px;
}


.right {
    width: 100%;
    margin: 20px 0 0 0;
}
/* Our Popular Tours responsiv section ending hear  */

.Destination-raw{
    /* Choose Your Destination strating section */
flex-direction: column;
position: relative;
}

    .img-div1 {
        position: absolute;
        top: 60%;
        left: 35%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
        }
        .img-div2 {
            position: absolute;
            top: 45%;
            left: 35%;
            color: #FFF;
            font-size: 28px;
            font-weight: 800;
            }
            .img-div3 {
                position: absolute;
                top: 15%;
                left: 32%;
                color: #FFF;
                font-size: 28px;
                font-weight: 800;
                }
                .img-div4 {
                    position: absolute;
                    top: 75%;
                    left: 42%;
                    color: #FFF;
                    font-size: 28px;
                    font-weight: 800;
                    }
                    .img-div5 {
                        position: absolute;
                        top: 30%;
                        left: 32%;
                        color: #FFF;
                        font-size: 28px;
                        font-weight: 800;
                        }
                        .img-div6 {
                            position: absolute;
                            top: 75%;
                            left: 35%;
                            color: #FFF;
                            font-size: 28px;
                            font-weight: 800;
                            }
/* Choose Your Destination ending section */

.article-div{
     /* Why Choose Us starting section */
    flex-direction: column;
}
.article2{
    margin-top: 10px;
}
 /* Why Choose Us ending section */

.Newsletter-container{
    flex-direction: column;
}
.Newsletter{
    width: 100%;
}
.Newsletter-img{
    width: 100%;
}

.Newsletter-title{
text-align: center;
}
.Newsletter-discription {
text-align: center;
}
/* Perfect-Place-container style starting here */
.Perfect-Place-container{
    flex-direction: column;
    
}
.Place-video{
    width: 100%;
}
.Place{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #FF5400;
    border-radius: 10px;
}
.place-title{
    width: 100%;
    padding: 0;
}
.place-discription {
    width: 100%;
    padding: 0;
}
ul li{
    width: 100%;
    padding: 0;
}
/* Perfect-Place-container style ending here */


/* Deals & Discounts  section starting here  */
.Discounts-btn, .discount-prise, .discount-discript, .discount-tit, .discount-btn{
    margin: 0%;
}
.Discounts-btn{
width: 50%;
}
.majore3{
    position: absolute;
    top: 15%;
    left: 25%;
}
.majore1{
    position: absolute;
    top: 15%;
    left: 25%;
}
.majore2{
    position: absolute;
    top: 15%;
    left: 25%;
}
.discount-btn{
    width: 50%;
}
.majore1, .majore2, .majore3{
    width: 100%;
    height:75% ;
    padding: 5px;
}
/* Deals & Discounts  section ending here  */
}