
/* Responsive for 992px  */

@media screen and (min-width:601px) and (max-width:992px) {
    /* Navbar starting responsive section */
        .item-container a{
            width: 30%;
            margin-right: 5px;
            font-size: 16px;
        }
        .nav-container{
                width: 75%;
        }
        .Advantage {
            font-size: 70px;
            font-weight: 400;
        }
/* Navbar ending responsive section */



    }



/* Responsive for 992px  */

@media screen and (max-width:600px) {
    /* Navbar starting responsive section */
    #cheak-button{
        display: block;
        }
        .item-container{
            display: none;
        }
        
/* Navbar ending responsive section */

.form{
    /* Explore your travel section starting hear */
    flex-direction: column;
    text-align: center;
    
}
.explore-title{
    margin: 30px 0 0 0;
}
.explore-discription{
    width: 440px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.popular{
    
}
.Service-container{
    width: auto;
}
/* Explore your travel section ending hear */

.popular {
    /* Our Popular Tours responsiv section starting hear  */
    flex-direction: column;
    text-align: center;
}
.Service-container{
    width: 440px;
    
}
.left h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    width: 440px;
}


.right {
    width: 100%;
    margin: 20px 0 0 0;
}
/* Our Popular Tours responsiv section ending hear  */
}