/* Mulish font from google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    margin: 0%;
    padding: 0%;
    max-width: 1440px;
    box-sizing: 0;
}




/* navbar style section */

.header-section {
    width: 81%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;

}

#cheak-button {
    float: right;
    line-height: 8;
    color: #131318;
    display: none;
}

#cheak {
    display: none;
}

.nav-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.Advantage {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-container {
    width: 50%;
    min-height: 20px;
    display: flex;
    align-items: center;
}

.item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Active {
    color: #FF5400
}

.item-container a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

/* Explore your travel style section */
.explore-section {
    width: 81%;
    max-width: 1170px;
    margin: 0 auto;
    height: 500px;
    background-image: url("../Go-Advantage-Travels-images/Group13.png");


}

.explore-title {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    text-align: center;


}


.explore-discription {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    width: 600px;
    margin: 0 auto;
    text-align: center;

}

.form input {
    width: 110px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    text-align: center;


}

.btn-primary {
    width: 113px;
    height: 43px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}

.form {

    margin-top: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-position: center;

}

/* Our Popular Tours style section starting hear  */
.popular {
    width: 81%;
    max-width: 1170px;
    margin: 0 auto; 

    margin-top: 100px;
    display: flex;
}



.left {
    width: 50%;

}

.right {
    width: 50%;


}

.right img {
    width: 100%;
    height: 100%;

}



.Service-container p,
ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    max-width: 550px;

}

.Service-container li {
    margin: 30px;
}

.left h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0%;
}